#page-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
}
.container-fluid {
    flex-grow: 1;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  color: white;
}
