{% extends "layouts/admin-layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
              <div class="card-header bg-info text-white">
                User Info
              </div>
              <div class="card-body">
                <p><strong>ID:</strong> {{ user.id }}</p>
                <p><strong>TID:</strong> {{ user.tUserId }}</p>
                <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
                <p><strong>Photo:</strong> <img class="rounded-3" width="90" src="{{ user.photoUrl }}" alt=""></p>
                <p><strong>Joined:</strong> {{ user.createdAt }}</p>
              </div>
            </div>
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        User wallet Info
      </div>
      <div class="card-body">
        <p><strong>Ton balance:</strong> {{ user.wallet.tons }}</p>
        <p><strong>Tib coin balance:</strong> {{ user.wallet.tibCoins }}</p>
        <p><strong>Enable claim notification:</strong> {{ user.wallet.notifiedForClaim }}</p>
        <button class="btn btn-secondary">View Transactions</button>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header bg-primary-subtle text-black">
      User boosts
    </div>
      <div class="card-body">
      <h5 class="mb-3">Bought boosts</h5>
      <ul class="list-group">
        {% for boost in user.boosts %}
        <li class="list-group-item"><strong>{{ boost.boostLevel }}</strong></li>
        <li class="list-group-item">Activation date {{ boost.boostActivationDate }}</li>
        <li class="list-group-item">Expiration date {{ boost.boostExpirationDate }}</li>
        {% else %}
        <li class="list-group-item">No boost</li>
        {% endfor %}
      </ul>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
        <!-- Not Completed Tasks -->
        <div class="card-header bg-success text-white">
          User tasks
        </div>
        <!-- Completed Tasks -->
        <h5 class="mb-3">Completed Tasks</h5>
        <ul class="list-group">
          {% for task in user.completedTasks %}
          <li class="list-group-item">{{ task.title }}</li>
          {% else %}
          <li class="list-group-item">No completed tasks</li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}
